<div class="container">
  <app-section-title name="Add Skill" />
  <form [formGroup]="addForm">
    <div class="form-group d-flex flex-column align-items-center">
      <label for="skillName">Skill Name:</label>
      <input
        type="text"
        placeholder="Enter skill name"
        formControlName="skillName"
      />
      @if(addForm.get('skillName')?.errors?.['required'] &&
      addForm.get('skillName')?.touched){
      <div class="msg">Skill Name is required</div>
      }
    </div>
    <div class="form-group d-flex flex-column align-items-center">
      <label for="skillName">Skill Image:</label>
      <input
        type="file"
        placeholder="Upload skill image"
        class="file-upload"
        formControlName="skillImage"
        id="skillImage"
      />
      @if(addForm.get('skillImage')?.errors?.['required'] &&
      addForm.get('skillImage')?.touched){
      <div class="msg">Skill Image is required</div>
      }
    </div>
    <div class="form-group d-flex flex-column align-items-center">
      <label for="skillName">Skill Category:</label>
      <select formControlName="skillCategory">
        <option value="FrontEnd">Front End</option>
        <option value="BackEnd">Back End</option>
        <option value="Other">Other</option>
      </select>
    </div>
  </form>
  <button
    class="btn btn-primary mt-3"
    (click)="addSkill()"
    [disabled]="
      addForm.get('skillName')?.errors || addForm.get('skillImage')?.errors
    "
  >
    Add Skill
  </button>
  @if(fail){
  <div class="alert alert-danger mt-2 text-center">
    Something wrong happened. Please try again. Error: {{ failMessage }}
  </div>
  }
</div>
