<div class="container">
  <app-section-title name="Works Categories Page" />
  <table>
    <thead>
      <tr>
        <td>Category Name</td>
        <td class="text-center">Edit</td>
        <td class="text-center">Delete</td>
      </tr>
    </thead>
    <tbody>
      @for(category of categories; track $index){
      <tr>
        <td>{{ category.name }}</td>
        <td class="edit">
          <button
            class="btn btn-primary pe-3 ps-3 edit-btn"
            [routerLink]="'edit/' + category._id"
          >
            Edit
          </button>
        </td>
        <td class="edit">
          <button
            class="btn btn-primary pe-3 ps-3 edit-btn"
            (click)="deleteWorkCategory(category._id)"
          >
            Delete
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  <div class="d-flex flex-row justify-content-center mt-5 mb-5">
    <button class="btn btn-primary pe-3 ps-3 me-3" routerLink="add">
      Add Work Category
    </button>
  </div>
  @if(fail){
  <div class="alert alert-danger mt-2 text-center">
    Something wrong happened. Please try again. Error: {{ failMessage }}
  </div>
  }
</div>
